@font-face {
  font-family: "Above The Beyond";
  src: url("./AbovetheBeyondSerif-Regular.woff2");
}

@font-face {
  font-family: "Silka";
  src: url("./Silka-Regular.otf");
}

@font-face {
  font-family: "Silka-Medium";
  src: url("./Silka-Medium.ttf");
}

html,
body,
p {
  padding: 0;

  margin: 0;
}

div:empty {
  display: block;
}

.container {
  width: 85%;
  max-width: 1228px;
  margin: 8vh auto;
  font-family: Silka;
  display: flex;
  flex-wrap: wrap;
}

.container-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.container-image {
  width: calc((100% - 32px) / 2);
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
  background-size: 126%;
  background-position-x: center;
  background-position-y: 100%;
}

.container-image__desktop {
  height: calc(100% - 11px);
}

.container-image__mobile {
  display: none;
}

.container-details {
  width: calc((100% - 32px) / 2);
  position: relative;
  top: -12px;
}

.container-details__title {
  font-size: 44px;
  color: #000000;
  font-family: "Above The Beyond";
  margin-bottom: -6px;
}

.container-details__ratings-reviews {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 26px;
}

.container-details__ratings-reviews .ratings {
  display: flex;
  gap: 3px;
}

.container-details__ratings-reviews .reviews {
  position: relative;
  top: 2px;
  font-size: 12px;
  color: black;
}

.container-details__description {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
  font-size: 13.5px;
  line-height: 20px;
  width: 100%;
  color: black;
  font-weight: 400;
}

.container-details__subscription {
  border: 2px solid #1d1d1b;
}

.container-details__subscription .header {
  display: flex;
  justify-content: space-between;
  padding: 17px 24px;
  background: #d4eaf0;
  border-bottom: 2px solid #1d1d1b;
  color: #1d1d1b;
  font-weight: 600;
  font-size: 16px;
}

.container-details__subscription .header .name,
.container-details__subscription .header .price {
  display: flex;
  gap: 8px;
}

.container-details__subscription .header .name {
  align-items: center;
}

.container-details__subscription .header .price {
  align-items: flex-end;
}

.container-details__subscription .header .name span {
  padding: 1px 8px 0px 8px;
  height: 21px;
  background: white;
  font-size: 11px;
  border-radius: 23px;
}

.container-details__subscription .header .price p {
  position: relative;
  top: 0.7px;
}

.container-details__subscription .header .price s {
  font-size: 14px;
  color: #757a81;
}

.container-details__subscription .body .offerings-parent {
  display: flex;
  gap: 2%;
  margin-bottom: 24px;
  padding: 24px 24px 0 24px;
}

.container-details__subscription .body .offerings {
  font-size: 13.5px;
  font-weight: 400;
  color: #1d1d1b;
  width: 49%;
}

.container-details__subscription .body .offering {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  height: fit-content;
  margin-bottom: 20px;
}

.container-details__subscription .body .offering .check {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-details__subscription .body .offering:last-of-type {
  margin-bottom: 0;
}

.container-details__subscription .body .offering p {
  width: 80%;
  line-height: 20px;
}

.container-details__subscription .body .subscribe-info {
  padding: 24px;
  background: #a6a6a61a;
  display: flex;
  gap: 24px;
  align-items: center;
}

.container-details__subscription .body .subscribe-info button {
  padding: 12px 24px;
  color: white;
  background: black;
  outline: none;
  border-radius: 23px;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-family: Silka-Medium;
  cursor: pointer;
  font-weight: 500;
}

.container-details__subscription .body .subscribe-info span {
  width: 3px;
  height: 2px;
  border-radius: 50%;
  background: white;
}

.container-details__subscription .body .subscribe-info .price {
  font-weight: 700;
}

.container-details__subscription .body .subscribe-info div p {
  font-size: 11px;
  color: #757a81;
  opacity: 0.8;
  line-height: 16px;
}

.container-upsell {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container-upsell__upsell {
  width: calc((100% - 32px) / 2);
}

.container-upsell__upsell .title {
  font-size: 34px;
  font-family: "Above The Beyond";
  line-height: 40.8px;
  margin: 0 0 32px 0;
  color: black;
}

.container-upsell__upsell .products {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-upsell__upsell .product {
  width: calc((100% - 64px) / 3);
}

.container-upsell__upsell .product a {
  text-decoration: none;
  color: #1d1d1b;
  display: grid;
}

.container-upsell__upsell .product img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.container-upsell__upsell .product p {
  font-size: 14px;
  text-align: center;
  line-height: 16.8px;
  font-weight: 600;
}

.container-upsell__upsell .product .product-title {
  margin-bottom: 4px;
}
