@font-face {
  font-family: "Above The Beyond";
  src: url("./AbovetheBeyondSerif-Regular.woff2");
}

@font-face {
  font-family: "Silka";
  src: url("./Silka-Regular.otf");
}

@font-face {
  font-family: "Silka-Medium";
  src: url("./Silka-Medium.ttf");
}

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: Silka;
}

div:empty {
  display: block !important;
}

.container {
  margin: 8vh auto;
  font-family: Silka;
  padding: 0 1.4rem;
  row-gap: 32px;
  column-gap: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container__message {
  text-align: center;
}

.container__product {
  color: #1d1d1b;
  display: flex;
  flex-direction: column;
  width: 163.5px;
  font-weight: 400;
}

.container__product a {
  text-decoration: none;
  color: #1d1d1b;
  text-align: center;
}

.container__product a div {
  height: 163.5px;
  border-radius: 12px;
  background-size: 126%;
  background-position-x: center;
  background-position-y: 100%;
}

.container__product .name {
  font-size: 16px;
  margin-top: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.container__product .price {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  gap: 6px;
}

.container__product .price p {
  font-family: Silka-Medium;
  font-weight: 500;
  position: relative;
  top: 0.25px;
}

.container__product .price s {
  color: #757a81;
  font-weight: 400;
  opacity: 0.85;
}

@media (min-width: 430px) {
  .container {
    margin: 8vh auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    row-gap: 72px;
    column-gap: 75.77px;
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: unset;
  }

  .container__product {
    flex-shrink: 0;
  }

  .container__product a div {
    height: 163.5px;
  }
}

@media (min-width: 1280px) {
  .container {
    gap: 116px;
    max-width: 1228px;
  }

  .container__product {
    width: 220px;
    flex-shrink: unset;
  }

  .container__product .name {
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;
  }

  .container__product a div {
    height: 220px;
  }
}
